@import '../../../../styles//variables.scss';

.days {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  padding: 8px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;

  .card {
    display: flex;
    flex-direction: column;
    background: var(#{--card-background-default});
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 149px;
    transition: 0.3s;
    cursor: pointer;

    .info {
      font-size: 13px;
      line-height: 16px;
      color: $base-color;
    }

    .temp__night {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 6px;
      color: $base-color;
    }

    .temp__day {
      font-size: 18px;
      line-height: 22px;
      color: var(#{--text-color-default});
    }

    .day__info {
      font-size: 14px;
      margin-bottom: 12px;   
      color: $base-color;
    }

    .day {
      margin-bottom: 7px;
      font-size: 18px;
      line-height: 22px;
      color: var(#{--text-color-default});
    }

    .img {
      margin-bottom: 12px;
    }

    &:hover {
      box-shadow: var(#{--card-shadow-default});
    }
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.concel,
.tab {
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 5px;
  padding: 9px 20px;
  border-color: $light-background;
  margin-right: 15px;
  color: var(#{--text-color-default});
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  background: var(#{--components-background-default});
  cursor: pointer;
}

.concel {
  margin-right: 0;
}

.tabs__wrapper {
  display: flex;
}

.tab {
  // &.active {
  //   background: $primary-colors;
  //   color: #fff;
  // }
}